html, body {
  font-family: Consolas, 'Roboto Mono', Menlo, 'Andale Mono', monospace;
  margin: 0;
  padding: 5%;
  background: #21252B;
  color: #fff;
}
a {
  color: inherit;
}

svg {
  width: 90%;
  margin: 5%;
  max-width: 320px;
}
.lock-bigdots circle {
  visibility: hidden;;
  opacity: 1;
}
.lock-bigdots circle.active {
  visibility: visible;
  opacity: 0;
  transition: visibility 0s, opacity .3s;
}



.history {
  overflow-x: scroll;
    white-space: nowrap;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.history-container {
  display: table-cell;
  vertical-align: top;
}

.history svg {
  width: 100px;
  display: inline-block;
  margin: 0 1em 0 0;
}





button {
  background: none;
  color: inherit;
  line-height: inherit;
  font-size: inherit;
  border: none;
  padding: 0;
}


.status-bar {
  height: 1.5rem;
  padding-bottom: .25rem;
  border-bottom: 1px dotted #fff;
  margin-bottom: .25rem;
}

.status-bar-cancel {
  height: 100%;
  font-size: 1rem;

}

.status-bar-counter {
  float: right;
}






.option, .selector {
  border: 1px solid green;
  border-radius: .25rem;
  padding: .25rem;
}

.option-item {
  width: 33%;
  padding: .25rem;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
}

.option-item.selected {
  background: green;
  border-radius: .2rem;
}



.selector-left, .selector-right {
  display: inline-block;
  text-align: center;
  width: 2rem;
  background: green;
  border-radius: .2rem;
}
