html, body {
  font-family: 'Andale Mono', monospace;
  margin: 0;
  padding: 5%;
  background: #21252B;
  color: #fff;
  text-align: center;
}
a {
  color: inherit;
}

svg {
  width: 90%;
  margin: 5%;
  max-width: 320px;
}
.lock-bigdots circle {
  visibility: hidden;;
  opacity: 1;
}
.lock-bigdots circle.active {
  visibility: visible;
  opacity: 0;
  transition: visibility 0s, opacity .3s;
}
