@import "../../_variables.scss";

.menu-title {
  margin: 0;
}

.menu-layout-instructions {
	-webkit-flex:1 0 auto;
}

.menu-layout-form {
  max-width: 480px;
}

.introduction-demo {
	display: block;
	width: 100%;
	max-width: 320px;
	margin: 1rem auto;
}

@media (orientation: landscape), (min-width: $mq-xlarge-min) {
  .menu-layout {
    align-items: center;
  }
}
