@import "../../_variables.scss";

.lock {
  display: block;
  width: 320px;
  max-width: 90%;
  margin: auto;

  &-flashdots circle {
    visibility: hidden;
    opacity: 1;

    &.active {
      visibility: visible;
      opacity: 0;
      transition: visibility 0s, opacity .3s;
    }
  }
}
