@import "../../_variables.scss";

.selectbox {
  border: 1px solid $theme_bright;
  margin-bottom: .5rem;
  border-radius: .4rem;
  padding: .25rem;
}

.selectbox-item {
  @extend %button-feel;
  padding: .25rem;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
}

.selectbox-item.active {
  background: $theme_bright;
  color: $theme_dark;
  border-radius: .2rem;
}

.selectbox-1 .selectbox-item { width: 100%; }
.selectbox-2 .selectbox-item { width: 50%; }
.selectbox-3 .selectbox-item { width: 33.33%; }
.selectbox-4 .selectbox-item { width: 25%; }
.selectbox-5 .selectbox-item { width: 20%; }
