@import "../../_variables.scss";

.countdown-container {
  float: right;
  width: 10rem;
  height: 1rem;
  margin: .25rem 0 .25rem .5rem;
  border: 1px solid currentColor;
  border-radius: .25rem;
  box-sizing: border-box;
  color: inherit;
}

.alert {
  color: red;
  animation: blink 1s infinite;
  -webkit-animation: blink 1s infinite;
}

.countdown-content {
  display: block;
  height: 100%;
  width: 0;
  color: inherit;
  background-color: currentColor;
}