@import "../../_variables.scss";

@media (max-width: $mq-large-max) {
  .history-wrap {
    border-bottom: $border;

    .history {
      margin: 0 #{-$gutter};
    }
    .history-container {
      padding: 0 #{$gutter};
    }
  }
}
