@import "../../_variables.scss";

@media (max-width: $mq-large-max) {
  .history-wrap {
    border-bottom: $border;

    .history {
      margin: 0 #{-$gutter};
    }
    .history-container {
      padding: 0 #{$gutter};
    }
  }
}

@media (orientation: landscape), (min-width: $mq-xlarge-min) {
  .game-layout-lock {
    align-self: center;
  }
}
