@import '../../_variables.scss';

.lang-selector.disabled {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}
.lang-selector {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: $theme_dark;
  opacity: 0.8;
  transition: opacity 0.5s linear;
  z-index: 1;
}
.lang-selector > div {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  text-align: center;
}
