@import "../../_variables.scss";

$patternHeight: 5rem;
$patternMargin: 1rem;
$patternRatio:  100/120;
// I really wanted to use width: auto.
// But not all browsers are ok with it

.history {
  height: $patternHeight + (2 * $patternMargin);
  overflow-x: scroll;
  font-size: 0;
  line-height: 0;
  white-space: nowrap;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.history-container {
  display: table-cell;
  vertical-align: top;

  &:empty {
    display: block;
    &:after {
      content: attr(data-helper);
      display: block;
      line-height: 6;
      font-size: 1rem;
      text-align: center;
    }
  }
}

.history-start-helper {
  display: none;
}

.history svg {
  width: $patternHeight * $patternRatio;
  height: $patternHeight;
  display: inline-block;
  margin: $patternMargin 0;
  transform: translateZ(0);
  animation: expand .25s, fadein .5s linear;
  -webkit-transform: translateZ(0);
  -webkit-animation: expand .25s, fadein .5s linear;

  &.success {
    border: #{$patternMargin/8} solid currentColor;
    border-radius: #{$patternMargin/4};
    padding: #{$patternMargin/8*3} #{$patternMargin/4};
    margin-top: #{$patternMargin/2};
    margin-bottom: #{$patternMargin/2};
  }

  & + svg {
    margin-left: $patternMargin;
  }
}

@keyframes fadein {
    0%   {opacity: 0;}
    50%  {opacity: 0;}
    100% {opacity: 1;}
}

@-webkit-keyframes fadein {
    0%   {opacity: 0;}
    50%  {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes expand {
    0%   {width: 0; padding: 0;}
}

@-webkit-keyframes expand {
    0%   {width: 0; padding: 0;}
}

@media (orientation: landscape), (min-width: $mq-xlarge-min) {
  .history {
    height: auto;
    border-bottom: none;
  }

  .history-container {
    display: block;
  }

  .history svg {
    float: left;
    margin-right: $patternMargin;

    & + svg {
      margin-left: 0;
    }
  }
}
