@import "../../_variables.scss";

$patternHeight: 5rem;
$patternMargin: 1rem;

.history {
  height: $patternHeight + (2 * $patternMargin);
  border-bottom: 1px dotted $theme_bright;
  overflow-x: scroll;
  font-size: 0;
  line-height: 0;
  white-space: nowrap;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.history-container {
  display: table-cell;
  vertical-align: top;
}

.history svg {
  width: auto;
  height: $patternHeight;
  display: inline-block;
  margin: $patternMargin $patternMargin $patternMargin 0;
  transform: translateZ(0);
  animation: fadein .5s;
}

@keyframes fadein {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}
