@font-face {
  font-family: "Roboto Mono";
  font-weight: 100;
  src: url("/RobotoMono-Thin.ttf"); //# TO_DO: Remove dat font
}

* {
  font-family: 'Roboto Mono', Menlo, Consolas, 'Andale Mono', monospace;
  font-weight: 100;
}

html, body {
  margin: 0;
  padding: 5%;
  background: #14171b;
  color: #fff;
}
a {
  color: inherit;
}

svg {
  width: 90%;
  margin: 5%;
  max-width: 320px;
}
.lock-bigdots circle {
  visibility: hidden;;
  opacity: 1;
}
.lock-bigdots circle.active {
  visibility: visible;
  opacity: 0;
  transition: visibility 0s, opacity .3s;
}








button {
  font-weight: 100;
  background: #fff;
  color: #14171b;
  line-height: inherit;
  font-size: inherit;
  border: none;
  padding: 0;
}


.status-bar {
  height: 1.5rem;
  padding-bottom: .25rem;
  border-bottom: 1px dotted #fff;
  margin-bottom: .25rem;
}

.status-bar-cancel {
  height: 100%;
  font-size: 1rem;

}

.status-bar-info {
  float: right;
}


.countdown-container {
  float: right;
  width: 200px;
  height: 1rem;
  border: 1px solid white;
  border-radius: .25rem;
}

.countdown-content {
  height: 100%;
  width: 65%;
  background-color: white;
  display: block;
}



h1 {
  font-weight: 100;
  text-shadow: 0 0 8px rgba(255,255,255,.4);
}


.option, .selector {
  border: 1px solid white;
  border-radius: .25rem;
  padding: .25rem;
  margin-bottom: .5rem;
}

.option-item, .selector-left, .selector-right, .selector-label {
  width: 33.33%;
  padding: .25rem;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
}

.option-item.selected {
  background: white;
  color: #14171b;
  border-radius: .2rem;
}



.selector-left, .selector-right {
  display: inline-block;
  text-align: center;
  width: 2rem;
  color:#14171b;
  background: white;
  border-radius: .2rem;
}

.selector-left {
  float: left;
}

.selector-right {
  float: right;
}

.selector-label {
  text-align: center;
  margin: 0 auto;
  display: block;
}
