@import "./_variables.scss";

@font-face {
  font-family: "Roboto Mono";
  font-weight: 100;
  src: url("/RobotoMono-Thin.ttf"); //# TO_DO: Remove dat font
}

* {
  font-family: 'Roboto Mono', Menlo, Consolas, 'Andale Mono', monospace;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  margin: 0;
  padding: 5%;
  background: #14171b;
  color: #fff;
}

a {
  color: inherit;
}

button {
  font-weight: 100;
  background: none;
  color: $theme_bright;
  line-height: inherit;
  font-size: inherit;
  border: none;
  padding: 0;
}

h1 {
  font-weight: 100;
  text-shadow: 0 0 8px rgba(255,255,255,.4);
}
