@import "./_variables.scss";

@font-face {
  font-family: "Roboto Mono";
  font-weight: $font_weight;
  src: url('assets/fonts/robotomono-light-webfont.woff2') format('woff2'),
       url('assets/fonts/robotomono-light-webfont.woff') format('woff'),
       url('assets/fonts/robotomono-light-webfont.ttf') format('truetype');
}

* {
  font-family: 'Roboto Mono', Menlo, Consolas, 'Andale Mono', monospace;
  font-weight: $font_weight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: 100%;
}
body {
  position: relative;
  margin: 0 auto;
  padding: $gutter;
  max-width: 1200px;
  box-sizing: border-box;
  background: $theme_dark;
  color: $theme_bright;
  overscroll-behavior-y: none;
}
body.deepblack {
  background-color: #000;
}

a {
  color: inherit;
}

button {
  @extend %button-feel;
  font-weight: $font_weight;
  background: none;
  color: $theme_bright;
  line-height: inherit;
  font-size: inherit;
  border: none;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: $font_weight;
}

table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: middle;

  * {
    fill: currentColor;
  }
}

::-webkit-scrollbar {
  display: none;
}

*:focus {
  outline: none;
}

.bloc {
  border-top: 1px dotted currentColor;
  padding: .75rem 0;
}

.action-btn {
  display: block;
  text-align: center;
  margin: 0 auto .25rem;
  font-size: 1.25rem;
  border: 1px solid $theme_bright;
  padding: .25rem 1rem;
  box-shadow: .25rem .25rem 0 0 $theme_bright;
  border-radius: .4rem;
}

.highlight {
  display: inline-block;
  padding: 0 .5rem;
  color: $theme_dark;
  background-color: $theme_bright;
  &:after {
    content:'_';
    animation: blink 1.2s infinite;
    -webkit-animation: blink 1.2s infinite;
  }
}

.hide {
  display: none;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Layout *********/
.view  {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: $gutter;
  overflow: scroll;
}

.view-bloc {
  flex-grow: 1;
}


@media (orientation: landscape), (min-width: $mq-xlarge-min) {
  .view {
    flex-direction: row;
  }
  .view-bloc {
    flex-basis: 50%;
    max-height: 100%;
    overflow-y: scroll;
    & + & {
      margin-left: $gutter/2;
    }
  }
}

@media (max-width: 320px) {
  html {
    font-size: 14px;
  }
}


@media (min-width: $mq-xlarge-min) {
  html {
    font-size: 20px;
  }
}


@keyframes blink {
  0%     {opacity: 1;}
  50%    {opacity: 1;}
  50.01% {opacity: 0;}
  100%   {opacity: 0;}
}

@-webkit-keyframes blink {
  0%     {opacity: 1;}
  50%    {opacity: 1;}
  50.01% {opacity: 0;}
  100%   {opacity: 0;}
}
