@import "../../_variables.scss";

.status-bar {
  height: 1.5rem;
  padding-bottom: .25rem;
  border-bottom: 1px dotted $theme_bright;

  &:after {
    content: '';
    clear: both;
  }

  &-cancel {
    height: 100%;
    font-size: 1rem;

    &:before {
      content: '«';
      margin-right: .25em;
    }
  }

  &-info {
    float: right;
  }
}
