@import "../../_variables.scss";

$duration: .5s;

.summary {
  position: fixed;
  top: 0;
  bottom: auto;
  left: 0;
  right: 0;
  height: 0;
  overflow: hidden;
  background: $theme_dark;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s linear $duration, height $duration, opacity $duration/2 linear $duration/4;

  &.active {
    visibility: visible;
    height: 100%;
    opacity: 1;
    transition: visibility 0s, height $duration, opacity $duration/2;
  }

  // Hacks :-/
  &.view {
    padding: 0;

    .view-bloc {
      padding: $gutter;
    }
  }
}

.summary-title {
  margin: 0;

  &.success {
    color: $theme_bright;
    background-color: $theme_success;
  }
  &.fail {
    color: $theme_bright;
    background-color: $theme_error;
  }
}

.summary-reveal {
  &:before {
    content: 'Tap to reveal'
  }
  & > svg {
    display: none;
    height: 5rem;
    margin: auto;
  }

  &.active {
    &:before {
      display: none;
    }
    & > svg {
      display: inherit;
    }
  }
}

.summary-action-button > * {
  vertical-align: middle;
  margin-right: .5em;
}
.summary-action-button {
  display: block;
  font-size: 1.5rem;
}

.summary-share {
  font-size: 2rem;
  line-height: 0;

  &-link {
    display: inline-block;
    margin-right: .375em;
  }
}

@media (orientation: landscape), (min-width: $mq-xlarge-min) {
  .summary {
    align-items: center;
  }
}
